/*
 * app.header.css
 * Header feature module styles
*/

core-toolbar {
  background-color: #01c461;
  
  h1 {
    color : white;
    font-weight: bold;
    margin:0;
  	font-size:20px;
  	width: 245px;
  }

  h1,
  ul#app-authentication-buttons,

	  core-icon-button  {
	    position:relative;
	    color: white;
	  }

	  #app-header-container{ 
		width: 100%; 

		#app-header {

			#sign-in {
				margin-top: 1px;
				font-size: 14px;
			}

			#user-image {
				width: 50px;
				height: 50px;
				border-radius: 100px;
			}
		}
	}
}
