/*
 * app.alert_modal.css
 * Alert modal module styles
*/

#app-modal-alert {

	h4 {
		font-size:21px;
		color: white;
		text-align:center;
	}

	.modal-footer {
		border-top: none;
	}

	button {
		margin-bottom: 10px;
		margin-right: 15px;
		float: right;
	}

	li {
		list-style-type: decimal;
		list-style-position: inside;
	}
	
	.modal-content{
		position: relative;
	}

	.close {
		position: absolute;
		top: 5px;
		right: 5px;
		width: 20px;
	}

}