/*
 * app.header.css
 * Header feature module styles
*/

core-toolbar {
  background-color: #01c461;
  height: 40px;
  
  h1 {
    color : white;
    margin:0;
  	font-size:19px;
  }

  h1,
  ul#app-authentication-buttons,

	  core-icon-button  {
	    position:relative;
	    top: -13px;
	    color: white;
	  }
	  h1 {
	    top: -12px;
	  }

	  #app-header-container{ 
		width: 100%; 

		#app-header {

			#sign-in {
				margin-top: 1px;
				font-size: 14px;
			}

			#user-image {
				width: 30px;
				height: 30px;
				border-radius: 490px;
			}
		}
	}
}
