#app-your-tags {

	core-icon-button.delete-icon {
		color: white;
		position: absolute;
		left: 0px;
		top: 0px;
	}

	ul#app-your-tags-list {
		&.module{
			padding:0;
		}
	}

	#no-tags-msg{
		height: 50px;
		color: white;
		font-size: 18px;
		display:table-cell;
		vertical-align: middle;
		width: 100%;
		text-align: center;
		padding-left:14px;
	}

	.tag-item {
		border-top: 1px solid #364752;
		border-bottom: 1px solid #0a0d0f;
		cursor: pointer;
		text-transform: capitalize;
		position: relative;
		float: left;
		width: 100%;

		h3 {
			height: inherit;
			font-size:15px;
			color: white;
			padding: 15px 0px;
			margin-left: 13px;
			line-height: 24px;
			&:hover {
				text-decoration: underline;
			}
		}

		.content {
			h4 {
				color: white;
				font-size: 12px;
				font-weight: bold;
				margin-bottom: 10px;
				&:hover{
					text-decoration: underline;
				}
			}
		}

	}

	#review-notes {
		position: absolute;
		top: 0px;
		right: -5px;
		color: white;
	}

	.checkbox{
		position: absolute;
		right: 7px;
		top: 5px;
		z-index:1;
	}

}