#app-your-tags {

	core-icon {
		color: white;
		position: absolute;
		right: 5px;
		top: 11px;
	}

	ul#app-your-tags-list {
		&.module{
			padding:0;
		}
	}

	.tagged-video-item {
		// border:1px solid blue;
	}

	#no-tags-msg{
		height: 50px;
		color: white;
		font-size: 18px;
		display:table-cell;
		vertical-align: middle;
		width: 100%;
		text-align: center;
		padding-left:14px;
	}

	.tag-item {
		padding: 15px;
		border-top: 1px solid #364752;
		border-bottom: 1px solid #0a0d0f;
		cursor: pointer;
		text-transform: capitalize;
		position: relative;
		h3 {
			display: table-cell;
			vertical-align: middle;
			height: inherit;
			font-size:15px;
		}
		.tag-item-info {
			// transition: all .5s ease;
			.content {
				margin-top: 15px;
				h4 {
					color: white;
					font-size: 12px;
					margin-bottom: 10px;
					text-align: justify;
					width: 80%;
				}
			}
		}
	
	}

}