/*
 * app.search_results_modal.css
 * Notes List Modal feature module styles
*/

#app-search-results-list {

	.modal-header {
		.close{
			margin-top: -10px;
		}
	}

	.watched {
		border: 1px solid red !important;
	}

	ul#notes-list{
		clear: both;
		.note-item {
			text-align:center;
			height: 140px;
			position: relative;
			margin-bottom: 10px;
			cursor: pointer;
			i.delete-note {
				position: absolute;
				top: 0px;
				right: 0px;
				cursor: pointer;
			}
			h3{
				font-size:13px;
				height: 30px;
				overflow: hidden;
				width: 100%;
				color: black;
			}
			button {
				margin-top: 10px;
			}
			img.load-note{
				width: 125px;
				height: 90px;
			}
		}
	}

	.modal-dialog {
		width: 90%;
	}
}
