/*
 * app.video_form.css
 * Video form/notepad feature module styles
*/

#app-notepad {	
	position: relative;
	min-height: 678px;

	#zero-notes {
		width: 100%;
		color: white;
		font-size: 18px;
	}

	#delete-notes-icon {
		position: absolute;
		right: 22px;
		top: 0px;
		color: white;
	}

	.checkbox {
		position: absolute;
		right: 00px;
		top: 0px;
		margin: 5px 5px 0 0;
		z-index:0;
	}

	#app-notepad-header {
		position: relative;
		display: inline-block;
		width: 100%;

		#app-notepad-header-msg {
			position:absolute;
			top: 9px;
			right: 12px;
			color:white;
		}
	}


	#app-notepad-controls {
		padding:0 20px;
		height: 100%;
		position: relative;
		margin-top: -20px;
		z-index:1;
		background: white;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	#app-notepad-time-head { /* hiding for now */
		display: none; 
	}
	
	#save-notes-btn,
	#delete-notes-btn {
		margin-top: 20px;
		width: 100%;
	}

	#delete-notes-btn {
		margin-top: -10px;
	}

	#app-notes-container {
		overflow: hidden;
		height: 90%;

		ul#notes-list {
			height: 95%;
			background-color: #fff;
			position: relative;
			margin-top: 0px;
			overflow-y: scroll;
			overflow-x: hidden;

			&:before {
				content: "";
				display: block;
				height: 100% !important;
				width: 0;
				z-index: 99;
				pointer-events: none;
				position: absolute;
				left: 50px;
				top: 0;
				border-left: 4px double #FAD1D7;
			}

			.note {
				width:100%;
				clear: both;
				position: relative;
				border-bottom: 1px solid #eee;
				padding: 4px 0 ;
				min-height: 35px;
				float:left;

				.remove {
					position: absolute;
					right: 4px;
					top: 13px;
					&:hover {
						color: red;
						cursor: pointer;
					}
				}

				.video-time,
				.recorded-video-time {
					height: 100%;
					float:left;
					text-align: center;
					color: #0078e7;
					padding-left:5px;
					margin: 0px 12px 0 5px;
					display: table-cell;
					vertical-align:middle;
					width: 30px;
				}

				.text {
					display: block;
					position: relative;
					left:10px;
					float:left;
					cursor: pointer;
					width: 78%;
				}

				.text[contenteditable="true"]:focus{
					outline: none;
					background: rgba(255, 230, 0, 0.5)
				}

				input[type='text']{
					border: none;
					border-top: 2px solid #eee; 
					padding-left: 2px;
					height:30px;
					width: 85%;
					padding-top:17px;
					margin-top:13px;
					margin-left: 75px;
					&:focus {
						outline: 0;
					}
				}
			}
		}
	}

	form#app-get-video-form {
		input#app-notepad-enter-btn[type="submit"] {
			width: 100%;
		}
	}
	
}

@media only screen and (max-width: 1200px){

	#app-notepad {
		height: 100%;
	}
	
}

@media only screen and (max-width: 1199px){

	// #app-notepad-header {
	// 	display: none;
	// }
	
}