/*
 * app.header.css
 * Header feature module styles
*/

#app-header-container{ 
	width: 100%; 

	#app-header {

		#sign-in {
			margin-top: -9px;
			font-size: 14px;
		}

		#user-image {
			width: 30px;
			height: 30px;
			margin-right: 10px;
			margin-top: -4px;
		}

	}

}

