#app-speed-controls {
	width: 100%;

	button {
		height: 40px;
	}
	
	.label {
		color: white;
		font-size: 16px;
		margin-right: 5px;
	}
}

@media only screen and (max-width: 764px){

	#app-speed-controls {
		
		button,
		#watched-btn {
			display: block;
			width: 100%;
			margin-top: 10px;
			float: none;
		}

	}

	
}