#app-your-tags {

	core-icon-button.delete-icon {
		color: white;
		position: absolute;
		right: 0px;
		top: 0px;
	}

	ul#app-your-tags-list {
		&.module{
			padding:0;
		}
	}

	#no-tags-msg{
		height: 50px;
		color: white;
		font-size: 18px;
		display:table-cell;
		vertical-align: middle;
		width: 100%;
		text-align: center;
		padding-left:14px;
	}

	.tag-item {
		border-top: 1px solid #364752;
		border-bottom: 1px solid #0a0d0f;
		cursor: pointer;
		text-transform: capitalize;
		position: relative;

		h3 {
			display: table-cell;
			vertical-align: middle;
			height: inherit;
			font-size:15px;
			color: white;
		}

		.content {
			margin-top: 15px;
			h4 {
				color: white;
				font-size: 12px;
				font-weight: bold;
				margin-bottom: 10px;
				width: 80%;
			}
		}

	}

	.review-notes {
		position: absolute;
		top: 0px;
		left: 0px;
	}

	.select-item{
		position: absolute;
		right: 10px;
		top: 15px;
	}

}