/*
 * app.modal.css
 * Generic modal styles
*/

// .modal-header {
// 	border-bottom: none;
// }

// .modal-content {
// 	background: #3b4450;
// }

// ul#app-provider-list {
// 	li {
// 		margin-bottom: 20px;
// 	}
// }
