#app-speed-controls {
	width: 100%;
	float: left;

	button {
		height: 40px;
	}
	
	.label {
		color: white;
		font-size: 16px;
		margin-right: 5px;
	}
}

@media only screen and (max-width: 764px){

	#app-speed-controls {

		
		button,
		#watched-btn {
			display: block;
			width: 100%;
			margin-top: 10px;
			float: none;
		}

	}

	
}

@media only screen and (max-width: 1380px){

	#watched-btn {
		float: left;
		width: 100%;
		margin-top: 20px;
	}

}