#app-tag-notes {
	width: 100%;
	transition:opacity 1s ease-out;
	opacity: 0;
	display: inline-block;
	
	.label {
		display:inline-block;
		float: left;
		margin-right: 20px;
		text-align: left;
		margin-bottom: 10px;
	}
	.tagit {
		background: white;
		border-radius:2px;
		font-size: 14px;
		.tagit-new {
			padding-left: 5px;
		}
	}
}

@media only screen and (max-width: 764px){

	#app-tag-notes {
		.label {
			float: none;
		}
	}
	
}