/*
 * app.notes_list_modal.css
 * Notes List Modal feature module styles
*/

#app-notes-list-modal {
	
	.modal-content{
		background: #2b313a;
	}

	.modal-dialog {
		width: 95%;
	}

	.modal-header {
		border-bottom: none;
	}

	.modal-footer {
		display:none;
	}

	#app-search-notes{
		display: none;
		width: 400px;
		position:relative;
		margin-bottom: 30px;
		margin-left: 20px;

		i {
			position: absolute;
			right:10px;
			top:11px;
		}
	}

	ul#notes-list{
		margin-top: -15px !important;

		.note-item {
			margin-bottom: 20px;
			text-align:center;
			height: 230px;
			position: relative;
			i.delete-note {
				position: absolute;
				top: 0px;
				right: 0px;
				cursor: pointer;
			}
			h3{
				font-size:13px;
				height: 30px;
				overflow: hidden;
				width: 100%;
				color: white;
			}
			button {
				margin-top: 10px;
			}
		}
	}
}
