/*
 * app.video_control_panel.css
 * Control pan feature module styles
*/

#app-video-control-panel {
	position: relative;
	text-align: center;
	height: 550px;

	#app-video-control-panel-container {
		height: 458px;
		margin-left: -1px;
	}

	#app-video-control-panel-controls {
	
		// #full-screen-mode-btn {
		// 	position: absolute;
		// 	bottom: 22px;
		// 	right: 36px;
		// }

	}

}