/*
 * app.header.css
 * Header feature module styles
*/

#app-header {

	.navbar {
		height: 58px;
		border-radius: 0 !important;
	}

	.navbar-form {
		input {
			width: 500px;
		}
	}

	#sign-in,
	#save-notes {
		font-size: 16px;
	}

	#sign-in {
		margin-top: -9px;
	}

	#save-notes {
		margin-top:8px;
		margin-right: 40px;
		opacity: 0.3;
		pointer-events: none;
	}

	#user-image {
		width: 30px;
		height: 30px;
		margin-right: 10px;
	}

	#notes-link{
		margin-top:10px;
	}
}