
#app-notes-carousel-controls {
	width: 225px;
	position: absolute;
	bottom: 50px;
	border: 1px solid pink;
	height: 120px;

	#control-prev,
	#control-next {
		width: 100px;
		height: 50px;
		background: white;
		float: left;
	}
	#control-prev {

	}
	#control-next {

	}
}


#app-notes-carousel-container {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 100px;
	width: 100%;
	background: #3b4450;
	opacity: 0.8;
	overflow: hidden;

	#app-notes-carousel-list {
		padding-left: 0;
		margin: 0;
	}



	.note-item {
		text-align:center;
		width: 125px;
		float: left;
		img {
			cursor: pointer;
			&:hover {
				border: 1px solid blue;
			}
		}
	}
}