/*
 * app.note_input.css
 * Note Input module styles
*/

#app-note-input {
	height: 106px;
	clear: both;
	
	input#app-input-box {
		width: 100%;
		height: 100%;
		font-size: 18px;
		font-weight: normal;
		border-radius: 0;
	}

	#create-note-btn {
		width: 100%;
		height: 40px;
	}
}