/*
 * app.video_control_panel.css
 * Control pan feature module styles
*/

#app-video-control-panel {
	position: relative;
	text-align: center;
	height: 612px;
	overflow: hidden;

	#app-video-control-panel-container {
		height: 458px;
		margin-left: -1px;
	}

	#app-video-control-panel-controls {


	}

}