#app-note-input {
	padding: 20px;
	float: left;
	width: 100%;

	#new-note-input,
	#new-note-btn {
		width: 100%;
		height: 50px;
	}

	#new-note-input {
		font-size: 22px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	#new-note-btn {
		white-space: normal;
		border-top-left-radius: 0px !important;
		border-bottom-left-radius: 0px !important;
	}
}