/*
 * app.header.css
 * Header feature module styles
*/

#app-header {
	
	.navbar {
		border:none;
		height: 58px;
		border-radius: 0 !important;
		background-image: -webkit-linear-gradient(top, #1c242a 0%, #171d22 100%);
		background-image: linear-gradient(to bottom, #1c242a 0%, #171d22 100%);
		background-repeat: repeat-x;
	}

	.navbar-brand {
		color: #7a828b;
	}

	.navbar-form {
		input#app-youtube-link {
			width: 500px;
		}
	}

	#sign-in {
		margin-top: -9px;
	}

	#save-notes {
		margin-top:8px;
		margin-right: 40px;
		opacity: 0.3;
		pointer-events: none;
	}

	#user-image {
		width: 30px;
		height: 30px;
		margin-right: 10px;
	}

	#notes-link{
		margin-top:10px;
	}

	#app-error-messages {
		.alert {
			background: none;
			border: none;
		}
	}
}